<!-- 
<router-outlet></router-outlet>

<a routerLink="/Contact">Contacts</a>
<br>
<a routerLink="/Person">Person</a>
<br> -->

<!-- <div class="container">
    <app-master></app-master>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/Contact">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Person">Person</a>
            </li>

        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>